* {
  box-sizing: border-box;
}

#TablePage {
  box-sizing: border-box;
  display: block;
  top: 3px;
  margin: auto;
}

#CityTable {
  /* must make width proportional to cell width
  ex. 5 cells in a row means the width should be 5 times the cell width*/
  background-color: blue;
  width: 500px;
  margin: auto;
}

#LanguageTable {
  /* must make width proportional to cell width*/
  background-color: blue;
  width: 400px;
  margin: auto;
}

#CountryTable {
  /* must make width proportional to cell width*/
  background-color: blue;
  width: 600px;
  margin: auto;
}

h1 {
  color: #ccc;
}

.Cell {
  position: relative;
  border: 1px solid gray;
  float: left;
  height: 30px;
  width: 100px;
  background: #fff;
  font-size: 12px;
  appearance: none;
  border-top-width: 0;
  border-right-width: 0;
  cursor: pointer;
}

.Row {
  width: 100%;
}
